.hero-main{
    background: url('../../assets/images//banner-bg.jpg') no-repeat top right/cover;
    background-color: var(--color-dark);
    color: var(--color-lite);
    border-radius: var(--border-radius-primary);
    padding:var(--padding-primary);
}
.hero-title{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: calc(var(--distance-primar ) / 2);
    font-weight: 900;
}
.hero-title em{
    font-size: normal;
    color: var( --color-primary);
   
}
.hero-subtitle{
    font-size: 20px;
    color: white;
    font-weight: 400;
    margin-bottom: calc(var(--margine-primary ) / 2);
}